.form {
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 20px;
}

.button {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.table {
    margin-top: 60px;

}

.table-responsive {
    overflow-x: visible;
}